/* CSS Comment, add with ctrl + /. */

body {
    background-color: rgb(51, 49, 47);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    /*create container containing everything inside the body*/
    max-width: 750px;
    margin: 0 auto;
    background-color: rgb(247, 241, 232);
    margin-bottom: 20px;
}

img {
    /*use 100% for images*/
    width: 100%;
}

/* STYLING HEADER */

.header-image {
    width: 750px;
    height: 300px;
}

#title {
    color: white;
    position: absolute;
    margin: auto;
    top: 149px;
    left: 480px;
    font-size: 80px;
    text-transform: uppercase;
}

/* STYLING NAV MENU */
nav {
    text-align: center;
    position: relative;
}

nav ul li {
    display: inline-block;
    height: 30px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: rgb(32, 46, 46);
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0;
    padding-right: 75px;
    padding-left: 75px;
}

.story-header {
    margin-bottom: 10px;
}


/* STYLING STORY */

#story {
    margin-top: 10px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.story-text {
    font-size: 14px;
    word-spacing: 1.7;
    line-height: 1.7;
}


.castle-image {
    height: 320px;
    width: 320px;
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* STYLING FACTS */

.facts {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
}

.section-header {
    font-size: 20px;
}

.facts ul {
    list-style-type: disc;
    font-size: 16px;
    margin-top: 10px;
}

.facts ul li {
    margin-left: 10px;
}

/* STYLING CONTACT FORM */

#contact {
    margin-left: 10px;
    margin-right: 10px;
}

#form {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
}

.form-label {
    font-size: 14px;
}

#fullname, #youremail, #message {
    resize: none;
    width: 98%;
    font-family:Arial, Helvetica, sans-serif;
}

.visit-heading {
    margin: 10px 0;
    font-size: 18px;
}

.question {
    margin-bottom: 8px;
}

.radio-label {
    font-size: 12px;
}

.submit-button {
    background-color: rgba(216, 177, 184, 0.687);
    padding: 10px;
    font-size: 12px;
    border: 0.2px solid rgba(7, 7, 7, 0.758);
    font-weight: bold;
}

.submit-button:hover {
    background-color: rgba(168, 138, 143, 0.687);
}

.submit-button:active {
    background-color: rgba(124, 103, 106, 0.687);
    color: rgb(255, 255, 255);
}

/* STYLING COPYRIGHT */

.copyright{
    padding:30px;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}