/* CSS Comment, add with ctrl + /. */

body {
    background-color: rgb(51, 49, 47);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    /*create container containing everything inside the body*/
    max-width: 750px;
    margin: 0 auto;
    background-color: rgb(247, 241, 232);
    margin-bottom: 20px;
}

img {
    /*use 100% for images*/
    width: 100%;
}

/* STYLING HEADER */

.header-image {
    width: 750px;
    height: 300px;
}

#title {
    color: white;
    position: absolute;
    margin: auto;
    top: 149px;
    ;
    left: 480px;
    font-size: 80px;
    text-transform: uppercase;
}

/* STYLING NAV MENU */
nav {
    text-align: center;
    position: relative;
}

nav ul li {
    display: inline-block;
    height: 30px;
}

nav ul li a {
    text-decoration: none;
    color: darkslategray;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0;
    padding-right: 75px;
    padding-left: 75px;
}

.story-header {
    margin-bottom: 10px;
}


/* STYLING STORY */

#story {
    margin-top: 10px;
    font-size: 20px;
    padding-left: 15px;
}

.story-text {
    font-size: 14px;
    word-spacing: 1.7;
    line-height: 1.7;
}


.castle-image {
    height: 320px;
    width: 320px;
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* STYLING FACTS */

.facts {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
}

.facts-header {
    font-size: 25px;
}

.facts ul {
    list-style-type: disc;
    font-size: 16px;
    margin-top: 10px;
}

.facts ul li {
    margin-left: 10px;
}

/* STYLING CONTACT FORM */
